@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body
{
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
header>h1
{
  letter-spacing: 1px; /*Espacio entre letras*/
  text-transform: uppercase; /*Transformacion de texto a mayusculas*/
  font-weight: bold; /*Fuente en negritas*/
  text-align: center; /*Alineacion del texto*/
  text-shadow: rgb(126, 8, 133) 6px 6px 8px; /*Los tres numero de distancia horizontal, vertical y difuminado de la sombra*/
}
.logo-left
{
  float: left;
  width: 280px;
  height:100px;
}
header
{
  width: 100%; /*establecemos que el header ocupe el 100% del documento*/
  overflow: hidden;
  background-color: rgb(255, 255, 255);/*Segundo Cuadro*/
  margin-bottom: 0px;
  padding: 0px;
  border-style: none;
}
.contenedor
{
  padding: 10px 20px 10px 20px ;
  background: rgb(255, 255, 255);/*Pimer cuadro*/
  border-radius: 2em;/*Superior, derecho, inferior, izquierdo*/

}
section
{
  float: left;
  width: 70%;
  text-align: justify;
  margin-top: 10px;
}
nav
{
  display: block;
  width: 100%;
  text-align: center;
}
nav ul
{
  list-style: none;
}
nav li
{
  display: inline-block;
  margin-right: 2px;
  margin-top: 0.2em;
}
article
{
  margin-bottom: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(126, 8, 133);
}
aside
{
  float: right;
  width: 30%;
  text-align: justify;
  margin-top: 0px;
}
blockquote
{
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  border-color:  rgb(255, 255, 255);
}
footer
{
  width: 100%; /*establecemos que el header ocupe el 100% del documento*/
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px 0px 25px 25px;/*Superior, derecho, inferior, izquierdo*/
  border-style: none;
}
.izquierda
{
  float: left;
}
.derecha
{
  float: right;
  padding-right: 35px;
}
footer>p
{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 12px;
}
.botonredes
{
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
}
.botonredes img
{
  width: 30px;
  height: 30px;
}
.sombra {
   float: right;
   background-color: #960791;
   margin: 15px 0 0 5px;
}
.sombra img {
   display: block;
   position: sticky;
  background-color: #fff;
  margin: -10px 10px 10px -10px;
}
#cero {
    background-color: rgba(36, 143, 158, 0.76);
  }
#uno  {
    background-color: #ffffff;
}
#dos
{
  background-color: rgb(186, 182, 182);
}
table .alto {
	background-color: rgb(255, 0, 130);
}
table .medio {
	background-color: rgb(255, 255, 255);
}
table .bajo {
	background-color: rgba(44, 182, 201, 1);
}
