@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body
{
  background-color: rgb(255, 255, 255);
  margin: auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.logo-left
{
  float: left;
  width: 280px;
  height:100px;
}
header
{
  width: 100%; /*establecemos que el header ocupe el 100% del documento*/
  overflow: hidden;
  background-color: rgb(255, 255, 255);/*Segundo Cuadro*/
  margin-bottom: 0px;
  padding: 0px;
  border-style: none;
}
.contenedor
{
  padding: 10px 20px 10px 20px ;
  background: rgb(255, 255, 255);/*Pimer cuadro*/
  border-radius: 2em;/*Superior, derecho, inferior, izquierdo*/

}
section
{
  float: left;
  width: 100%;
  text-align: justify;
  margin-top: 10px;
}
nav
{
  display: block;
  width: 100%;
  text-align: center;
}
nav ul
{
  list-style: none;
}
nav li
{
  display: inline-block;
  margin-right: 2px;
  margin-top: 0.2em;
}
article
{
  margin-bottom: 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(126, 8, 133);
}
aside
{
  float: right;
  width: 30%;
  text-align: justify;
  margin-top: 0px;
}
blockquote
{
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 2px;
  border-color:  rgb(255, 255, 255);
}
footer
{
  width: 100%; /*establecemos que el header ocupe el 100% del documento*/
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 0px 0px 25px 25px;/*Superior, derecho, inferior, izquierdo*/
  border-style: none;
}
.izquierda
{
  float: left;
}
.derecha
{
  float: right;
  padding-right: 35px;
}
footer>p
{
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 12px;
}
.botonredes
{
  display: inline-flex;
  width: 15px;
  height: 15px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
}
.botonredes img
{
  width: 30px;
  height: 30px;
}
.sombra {
   float: right;
   background-color: #960791;
   margin: 15px 0 0 5px;
}
.sombra img {
   display: block;
   position: sticky;
  background-color: #fff;
  margin: -10px 10px 10px -10px;
}
#cero {
    background-color: rgba(36, 143, 158, 0.76);
  }
#uno  {
    background-color: #ffffff;
}
#dos
{
  background-color: rgb(186, 182, 182);
}
table .alto {
	background-color: rgb(255, 0, 130);
}
table .medio {
	background-color: rgb(255, 255, 255);
}
table .bajo {
	background-color: rgba(44, 182, 201, 1);
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
